*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

div{
    display: block;
}

body{
    font: 1.65rem/1.2 Circle, sans-serif;
    font-family: Circle;
    font-weight: 300;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1;
}

.layout{ 
    max-width: 1150px;
    padding: 22px 0 70px 0;
    margin: 0 auto;
}

.product{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product__preview{
    display: -ms-flexbox;
    display: flex;
    float: left;
}

.module-gallery{
    display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }
    
.product__description{
    float: right;
}

.product__title{
    color: black;
    font-family: "Arial";
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 10px;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.product__categories{
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: blue;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.13px;
}

a{
    margin-left: 10px;
}

.product__price{
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
}

.product__price-old{
    font-family: "Arial";
    color: #989797;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: line-through;
    margin: 0 18px 0 10px;
}

.product__price-discount{
    font-family: "Arial";
    color: gray;
    font-size: 18px;
    font-weight: 400;
    margin: 0 32px 0 10px;
}

.product__price-actual{
    font-family: "Arial";
    margin: 0 60px 0 10px;
    position: relative;
}

.product__info{
    max-width: 450px;
    font-size: 13px;
    padding: 15px 22px;
    margin: 20px;
    background: #fff;
    border: 2px solid #DCDCDC;
    background-color: #DCDCDC;
}

.product__info-item{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.product__info-item + .product__info-item{
    margin-top: 13px;
}

.product__actions{
    max-width: 500px;
    margin-top: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
}

.custom-btn + .custom-btn {
    margin-left: 10px;
}

.custom-btn{
    display: inline-block;
    color: #000;
    background-color: #fff;
    border: 2px solid #989797;
    padding: 0 15px;
    height: 48px;
    line-height: 48px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    min-width: 240px;
}

.custom-btn--blue{
    color: #fff;
    background-color: blue;
    border: blueviolet;
}

.button{
    cursor: pointer;
}

button, [type='button'],[type='reset'],[type='submit']{
    -webkit-appearance: buttom;
}

button, select{
    text-transform: none;
}

.product__text{
    min-width: 445px;
    margin-top: 40px;
    color: black;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.13px;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

span{
    margin-top: 20px;
}

.product__share{
    margin-top: 50px;
    display: flex;
}

html{
    font-size: 62.5%;
}

.count {
    display: flex;
}

.count .change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-weight: 600;
    color: #989797;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.count input {
    max-width: 55px;
    text-align: center;
    font-weight: 700;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    margin: 0 5px;
}

.count .minus.min {
    background-color: #989797;
}


